$wood-tile: url(../../../assets/images/wood-tile.webp);

#rackImg {
  background-image: url(../../../assets/images/rack.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 95%;
  margin: 0 auto;
  width: 100vmin;
  max-width: 75vh;

  min-width: 42vh;
  height: 10vh;

  display: grid;
  grid-template-rows: minmax(0, 8vh);
}

#rack {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 8vh));
  justify-content: space-evenly;
}

.cdk-drop-list-dragging {
  .tile:not(.cdk-drag-placeholder) {
    transition: transform 1000ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.tile {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 14px 0px;

  font-weight: 400;
  line-height: 0;
  height: 100%;
  width: 100%;
  position: relative;
  margin: auto;
  background-image: $wood-tile;
  color: #373737;
  text-shadow: var(--tileTextShadowLight);
  border-radius: 8%;
  border-bottom: 0.4vh solid rgba(0, 0, 0, 0.75);
  svg {
    width: 100%;
  }

  div {
    position: absolute;
    font-weight: 500;
    width: 100%;
    text {
      letter-spacing: -3px;
    }
  }
}

.cdk-drag-placeholder {
  background: black;
  opacity: 0.75;
  border: 0;
  box-shadow: 0 0 12px inset white;

  font-size: 0;
  div {
    font-size: 0;
  }
}

.cdk-drag-animating {
  transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  width: 8vh !important;
  height: 8vh !important;
  opacity: 0.5;
}
