#frame::-webkit-scrollbar {
  display: none;
}

#frame {
  display: block;
  width: 100vmin;
  height: 100vmin;
  max-height: 75vh;
  max-width: 75vh;
  min-height: 42vh;
  min-width: 42vh;
  margin: 0 auto;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-radius: 5px;
  box-shadow: 0 0 20px 8px;
}

#rackFrame {
}

#actionBar {
  display: flex;
  flex-wrap: wrap;
  width: 100vmin;
  max-width: 75vh;
  justify-content: space-around;
  margin: 0 auto;
}
